<!-- Bind <form> to our FormGroup property
-->
<form [formGroup]="magazineForm" (ngSubmit)="submitForm()">
  Full name: <br/>
  <span style="color:red"
  [hidden]="magazineForm.controls.fullName.valid || 
            magazineForm.controls.fullName.untouched">
    Please enter your name<br/>    
  </span>
  <input formControlName="fullName" type="text" /><br/>
  Model<br/>
  Valid    : {{magazineForm.controls.fullName.valid}} <span>
  Invalid  : {{magazineForm.controls.fullName.invalid}}</span><br/>
  Touched  : {{magazineForm.controls.fullName.touched}} <span>
  UnTouched: {{magazineForm.controls.fullName.untouched}}</span><br/>
  Dirty    : {{magazineForm.controls.fullName.dirty}} <span>
  Pristine : {{magazineForm.controls.fullName.pristine}}</span><br/><br/>

  Magazine edition: <br/>
  <select formControlName="selectedEdition" >
    <option *ngFor="let e of editions" [ngValue]="e">
      {{e.edditionName}}
    </option>
  </select><br/>

  Shipping Option: <br/>
  <input formControlName="selectedShipping" type="radio" 
         value="GROUND" />Ground
  <input formControlName="selectedShipping" type="radio" 
         value="AIR" />Air
  <br/>

  <label>
    <input formControlName="acceptPolicy" type="checkbox"/>
    I accept the terms and conditions
  </label>
  <br/>
  Price: {{magazineForm.value.selectedEdition.price}}
  <br/>
  <button [disabled]="magazineForm.invalid || !magazineForm.value.acceptPolicy" 
          type="submit">Purchase</button>
</form>