<form #myForm="ngForm">
    VIN:<br/>
    <!-- Validate VIN, required and must be >=3 characters long -->
    <input type='text' name='veh_vin' #vin='ngModel' ngModel 
           required minlength='3'/>
    <span *ngIf='vin.invalid && vin.dirty' class='error' >
        Must be at least 3 characters
    </span><br/>
    Year:<br/>
    <input type='number' name='veh_year' ngModel required/><br/>
    Make:<br/>
    <input type='text' name='veh_make' ngModel required/><br/>
    Model:<br/>
    <input type='text' name='veh_model' ngModel required/><br/>
    <!-- if type=number, browser will only allow number input
         and Angular will convert the text to number for you!
    -->
    Mileage:<br/>
    <input type='number' name='veh_mileage' ngModel required/><br/>
    Price:<br/>
    <input type='number' name='veh_price' ngModel required/><br/>
    <label>
        <input type='checkbox' name='veh_featured' ngModel/>
        Featured Vehicle
    </label><br/>

    <p *ngIf='myForm.invalid' class='error'>Please enter valid values</p>
    <button (click)='handleSubmit(myForm)' [disabled]='myForm.invalid'>
        Submit
    </button>
</form>
